<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-item nav-link active" href="#">
            <span class="sr-only">(current)</span>
            <i class="fa fa-home fa-1x"></i>
        </a>
        <a class="nav-item nav-link" href="nova-marca">Nova Marca</a>
        <a class="nav-item nav-link" href="lista-marca">Listar marcas</a>
        <a class="nav-item nav-link" href="novo-veiculo">Novo veículo</a>
        <a class="nav-item nav-link" href="lista-veiculo">Listar veículo</a>
    </nav>
</header>