<h3 class="text-center">Cadastre um veículo</h3>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div [hidden]="submitted" style="width: 400px">
            <form [formGroup]="veiculoForm" (submit)="save()">
                <div class="form-group">
                    <label for="placa">Placa</label>
                    <input type="text" class="form-control" formControlName="placa" data-toggle="tooltip"
                        data-placement="right" title="Digite a placa do veículo" name="placa" />
                    <div class="alert
                        alert-danger" 
                        *ngIf="veiculoForm.get('placa')?.touched && 
                        veiculoForm.get('placa')?.invalid" 
                        style="margin-top: 5px">
                            <span *ngIf="veiculoForm.get('placa')?.errors?.['required']">
                                A placa do veículo é obrigatória
                            </span>
                            <span *ngIf="veiculoForm.get('placa')?.errors?.['maxlength']">
                                A placa do veículo deve ter no máximo 8 caracteres.
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cor">Cor</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="cor" 
                        data-toggle="tooltip"
                        data-placement="right" 
                        title="Digite a cor do veículo" 
                        name="cor" />
                <div class="alert alert-danger" 
                    *ngIf="veiculoForm.get('cor')?.touched &&
                            veiculoForm.get('cor')?.invalid" 
                            style="margin-top: 5px">
                    <span *ngIf="veiculoForm.get('cor')?.errors?.['required']">
                        A cor do veículo é obrigatória!
                    </span>
                    <span *ngIf="veiculoForm.get('cor')?.errors?.['maxlength']">
                        O atributo cor pode ter no máximo 20 caracteres.
                    </span>
                </div>
                </div>
                <div class="form-group">
                    <label for="anoModelo">Ano do Modelo</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="anoModelo" 
                        data-toggle="tooltip"
                        data-placement="right" 
                        title="Digite o ano do modelo do veículo" 
                        name="anoModelo" />
                <div class="alert alert-danger" 
                    *ngIf="veiculoForm.get('anoModelo')?.touched &&
                            veiculoForm.get('anoModelo')?.invalid" 
                            style="margin-top: 5px">
                    <span *ngIf="veiculoForm.get('anoModelo')?.errors?.['required']">
                        O ano do modelo do veículo é obrigatório!
                    </span>
                </div>
                </div>
                <div class="form-group">
                    <label for="marca">Marca</label>
                    <select 
                        class="form-control" 
                        formControlName="marca" 
                        data-toggle="tooltip" 
                        name="marca"
                        data-placement="right" 
                        title="Selecione a marca">
                        <option [ngValue]="marca" *ngFor="let marca of marcas">
                            {{ marca.sigla }}
                        </option>
                    </select>
                </div><br />
                <button type="submit" class="btn btn-success">Salvar</button>
            </form>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div [hidden]="!submitted">
            <h5 class="text-success">Veículo adicionado com sucesso</h5>
            <button (click)="addVeiculoForm()" class='btn btn-primary'>Cadastrar
                mais veiculos</button>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>